<div class="container-fluid emp-profile">
  <form method="post">
      <div class="row">
          <div class="col-md-4">
              <div class="profile-img">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="w-75"/>
                  <div class="file btn btn-lg btn-primary">
                      Change Photo
                      <input type="file" name="file"/>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="profile-head">
                  <h5>
                      {{user.username}}
                  </h5>
                  <h6>
                      {{user.role}}
                  </h6>
                  <ul class="nav nav-tabs mt-5 mb-4 mb-0">
                      <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" routerLink="/profile" routerLinkActive="active" role="tab" aria-controls="home" aria-selected="true">About</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-8 info">
              <div class="tab-content profile-tab" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>First Name</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{user.first_name}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Last Name</label>
                                  </div>
                                  <div class="col-md-6">
                                    <p>{{user.last_name}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Email</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{user.email}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Phone</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{user.phone}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Profession</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{user.role}}</p>
                                  </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Experience</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>Expert</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Hourly Rate</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>10$/hr</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Total Projects</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>230</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>English Level</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>Expert</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Availability</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>6 months</p>
                                  </div>
                              </div>
                      <div class="row">
                          <div class="col-md-12">
                              <label>Your Bio</label><br/>
                              <p>Your detail description</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </form>           
</div>