<!-- <div class="card border-dark mb-3 m-auto w-50 mt-5" style="color: #002147;">
    <div class="card-header bg-transparent pb-5 pt-5 border-dark fs-1">User Information</div>
    <div class="card-body">
      <span class="card-title fw-bolder fs-3">Username: {{user?.username}}</span>
      <hr class="mt-4">
      <span class="card-title fw-bolder fs-4">Email: {{user?.email}}</span>
      <hr class="mt-4">
      <span class="card-title fw-bolder fs-4">Phone Number: {{user?.phone}}</span>
      <hr class="mt-4">
      <span class="card-title fw-bolder fs-4">Password: {{user?.password}}</span>
    </div>
</div> -->