
<!-- Registration Form  -->

<section class="gradient-custom">
  <div class=" py-5">
    <div class="row justify-content-center align-items-center bg-light" >
      <div class="col-10 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration  my-5">
          <div class="card-body p-md-4">

            <div class="w-100 text-center">
              <img src="../../../assets/images/logo.png" alt="site logo" class="mb-3">
            <h3 class="mb-4 font-weight-normal">Register now </h3>
            </div>

            <!-- Registration form start -->
            <form method="POST" action="" >

              <!-- User Name -->
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="firstName" class="form-control"  name="firstName"/>
                    <label class="form-label" for="firstName">
                      <span class="required-field">*</span> First Name</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="lastName" class="form-control "  name="lastName"/>
                    <label class="form-label" for="lastName">
                      <span class="required-field">*</span> Last Name</label>
                  </div>

                </div>
              </div>


              <!-- Enail & Phone number -->
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="email" id="emailAddress" class="form-control " name="email"/>
                    <label class="form-label" for="emailAddress">
                      <span class="required-field">*</span> Email</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="tel" id="phoneNumber" class="form-control "  name="phone"/>
                    <label class="form-label" for="phoneNumber"> Phone Number</label>
                  </div>

                </div>
              </div>

              <!-- passwords -->
              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="password" id="form2Example2" class="form-control " name="password">
                    <label class="form-label" for="form2Example2" >
                      <span class="required-field">*</span> Password</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="password" id="form2Example2" class="form-control " name="repeatPassword"/>
                    <label class="form-label" for="form2Example2">
                      <span class="required-field">*</span> Repeat Password</label>
                  </div>

                </div>

              </div>

              <!-- <div class="row">
                <div class="col-12">

                  <select class="select ">
                    <option value="1" disabled>Choose option</option>
                    <option value="2">Subject 1</option>
                    <option value="3">Subject 2</option>
                    <option value="4">Subject 3</option>
                  </select>
                  <label class="form-label select-label">Choose option</label>

                </div>
              </div> -->

              <div class="mt-4 pt-2">
                <input class="btn btn-warning btn-lg" type="submit" value="Sign Up" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- <app-login class="col-sm-12"></app-login> -->
