<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.snapchat.com/" target="_blank"><i class="bi bi-snapchat"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li class="list-inline-item"><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li class="list-inline-item"><a routerLink="/advisors" routerLinkActive="active">Become Instructor</a></li>
            <li class="list-inline-item"><a routerLink="/ourCategories" routerLinkActive="active">Courses</a></li>
            <li class="list-inline-item"><a routerLink="/contact-us" routerLinkActive="active">Contact</a></li>
        </ul>
        <p class="copyright">
            Copyright &copy; <span class="text-warning">2022</span> All rights reserved | This template is Designed by <span class="text-warning">Team 4</span></p>
    </footer>
</div>
