
.btn-outline-warning:hover
{
    color: white !important;
}

.carousel-control:hover
{
    color: #ffc107 !important;
}

.btn-warning:hover
{
    background-color: #fff !important;
    border-color: #fff !important;
}


h1
{
    font-size: 24px;
}

h2
{
    font-size: 21px;
}

h3
{
    font-size: 18px;
}

h4
{
    font-size: 16px;
}

h5
{
    font-size: 14px;
}

h6
{
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: bolder;
}

p, label
{
    font-size: 16px;
}