<div class="container-fluid">
    <div class="row">
        <app-header class="col-12"></app-header>
    </div>
</div>
<!-- <div class="container-fluid mb-5">
    <div class="row">
        <app-home class="col-12"></app-home>
    </div>
</div>
<div class="container-fluid mb-5 mt-5">
    <div class="row">
        <app-about-us class="col-12"></app-about-us>
    </div>
</div>
<div class="container-fluid mb-5 mt-5 p-5" style="background-color:#002147">
    <div class="row">
        <app-our-latest-courses class="col-12"></app-our-latest-courses>
    </div>
</div>
<div class="container-fluid mb-5 mt-5 p-5">
    <div class="row">
        <app-search class="col-12"></app-search>
    </div>
</div>
<div class="container-fluid mb-5 mt-5">
    <div class="row">
        <app-our-experience-advisors class="col-12"></app-our-experience-advisors>
    </div>
</div>
<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <app-what-our-students-say class="col-12"></app-what-our-students-say>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <router-outlet class="col-12"></router-outlet>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <app-footer class="col-12"></app-footer>
    </div>
</div>