<div class="container mt-5 mb-5">
    <div class="row mt-5 mb-5">
        <div class="col col-md-7 col-12">
            <div class="about-title-section mb-30">
                <h1  style="color:#002147 ;">Welcome To Our Sikkha</h1>
                <p class="text-black-50 fw-lighter">Sorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod temin cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci tation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure repreh nderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occcu idatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="text-black-50 fw-lighter">Horem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod temin cididunt ut labore et dolore magna aliqua Ut enim ad minim veniam,quis nostrude</p>
                <button class="btn btn-warning">admit now</button>
            </div>
        </div>
        <div class="col col-md-5 col-12">
            <div>
                <img src="assets/images/about/about-right.png" class="w-75">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4 mt-5 col-md-6 border-start border-5 border-warning">
            <div>
                <div>
                    <h3 style="color:#002147 ;">Scholarship Facility</h3>
                    <span class="fs-4 text-secondary">01</span>
                </div>
                <div class="fs-6 text-secondary">
                    <p>Sorem ipsum dolor sitcon sectet adipis icing elit sed do eiusmod tems. incididune.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5 col-md-6 border-start border-5 border-warning">
            <div>
                <div>
                    <h3 style="color:#002147 ;">Advance Advisor</h3>
                    <span class="fs-4 text-secondary">02</span>
                </div>
                <div class="fs-6 text-secondary">
                    <p>Sorem ipsum dolor sitcon sectet adipis icing elit sed do eiusmod tems. incididune.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5 col-md-6 border-start border-5 border-warning">
            <div>
                <div>
                    <h3 style="color:#002147 ;">Sports & Gaming</h3>
                    <span class="fs-4 text-secondary">03</span>
                </div>
                <div class="fs-6 text-secondary">
                    <p>Sorem ipsum dolor sitcon sectet adipis icing elit sed do eiusmod tems. incididune.</p>
                </div>
            </div>
        </div>
    </div>
</div>