
<!-- Login Form  -->

<section class="gradient-custom">
  <div class="text-center  pt-5">
    <div class="row  justify-content-center align-items-center bg-light ">
      <div class="col-10 col-sm-7 col-lg-5 col-xl-4">
        <div class=" card shadow-2-strong card-registration my-5">
          <div class="card-body">

            <div>
              <img src="../../../assets/images/logo.png" alt="site logo" class="mb-2">
            <h3 class="mb-3 font-weight-normal">Please login</h3>
            </div>

            <!-- Login form start -->
            <form method="POST" action="" >

              <!-- Email input -->
              <div class="form-outline mb-3">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Email address</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-3">
                <input type="password" id="form2Example2" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
              </div>

              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-3">
                <div class="col d-flex justify-content-center">
                  <!-- Checkbox -->
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31"/>
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                  </div>
                </div>

                <div class="col">
                  <!-- Simple link -->
                  <a href="#!" class="text-primary">Forgot password?</a>
                </div>
              </div>

              <!-- Submit button -->
              <button type="button" class="btn btn-warning btn-lg  mb-3">Sign in</button>

              <!-- Register buttons -->
              <div class="text-center">
                <p>Not a member? <a routerLink="/Signup">Register</a></p>



                <!-- Sign up with another accounts-->
                <!-- <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button> -->



              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
<section>






<!-- <app-register class="col-sm-12"></app-register> -->
