<div id="carouselExampleCaptions mb-5" data-bs-ride="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="assets/images/header/2.jpg" class="d-block w-100">
        <div class="carousel-caption pb-5">
            <h1 class=" fw-bolder fs-1 mb-5">Become a Instructor</h1>
        </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="fw-bolder fs-1" style="color: #002147;">Become a Instructor</h1>
            <p class="text-secondary fs-6 m-auto w-50">Belis nisl adipiscing sapien sed malesu diame lacus eget erat Cras mollis scelerisqu Nullam arcu liquam here was consequat.</p>
        </div>
        <form [formGroup]="instructorFormGroup" (submit)="submit()">
            <div class="col-12 col-12 mt-5">
                <input class=" form-control" type="text" name="first_name" id="first_name" formControlName="first_name" placeholder="First Name:">
            </div>
            <div class="col-12 col-12 mt-3">
                <input class=" form-control" type="text" name="last_name" id="last_name" formControlName="last_name" placeholder="Last Name:">
            </div>
            <div class="col-12 col-12 mt-3">
                <input class=" form-control" type="text" name="username" id="username" formControlName="username" placeholder="Username:">
            </div>
            <div class="col-12 col-12 mt-3">
                <input class=" form-control" type="email" name="email" id="email" formControlName="email" placeholder="Email:">
            </div>
            <div class="col-12 col-12 mt-3">
                <input class=" form-control" type="password" name="password" id="password" formControlName="password" placeholder="Password:">
            </div>
            <div class="col-12 col-12 mt-3">
                <input class=" form-control" type="text" name="scientific_degree" formControlName="scientific_degree" id="scientific_degree" placeholder="scientific_degree:">
            </div>
            <div class="col-12 col-12 mt-3">
                <input class=" form-control" type="text" name="phone" id="phone" formControlName="phone" placeholder="phone:">
            </div>
            <div class="col-12 mt-3">
                <textarea class="form-control" cols="30" rows="10" name="description" formControlName="description" id="description" placeholder="Description :"></textarea>
            </div>
            <div class="col-12 mt-3">
                <button class="btn btn-warning" [disabled]="instructorFormGroup.invalid">Send</button>
            </div>
        </form>
        <h1 class="alert alert-warning mt-5">{{Message}}</h1>
    </div>
</div>